@{
    string cartCount = "0";
    if (Context.Request.Cookies["SessionId"] == null)
        cartCount = "00";
    else
        if(Context.Items["cartCount"] != null) //somehow this is null on the first login, and shows as 0 (default val above). 
            cartCount = (string) Context.Items["cartCount"].ToString(); //but this is ok on second and third logins

 }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
</head>
<body>
    <header>

        <!--Navbar-->
        @if (Context.Request.Cookies["SessionId"] != null)
        {
            <nav class="navbar navbar-toggleable-md navbar-dark">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <strong>WhiteStar Shop</strong>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNav1">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Pricing</a>
                            </li>
                            <li class="nav-item dropdown btn-group">
                                <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More info</a>
                                <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item">Contact</a>
                                    <a class="dropdown-item">Billing adress</a>
                                    <a class="dropdown-item">Discounts</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PurchaseHistory" asp-action="Test">My Purchases</a>
                            </li>
                        </ul>
                        <form class="form-inline waves-effect waves-light">
                            <input class="form-control" type="text" placeholder="Search">
                        </form>

                        <a href="/Cart/ToCart" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-shopping-cart"></span>  Cart  (<strong><span id="cartCounter">@cartCount</span></strong>)
                        </a>
                    </div>
                </div>
            </nav>
        }
        <!--/.Navbar-->

    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @if (Context.Request.Cookies["SessionId"] != null)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Team3Shopping - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
