
@{
}

<h1 style="text-align:center">Thank you for your order</h1><br />

<p style="text-align:center">We're processing your order now. You will receive an email confirmation shortly.</p>

<p style="text-align:center">Please visit <a href="@Url.Action("Index","PurchaseHistory")">My Purchase</a> to retrieve the activation code.</p>

<p style="text-align:center">Thank You for shopping with WhiteStar</p>
