
@{
}

<h1 style="text-align:center">Thank you for your order</h1>
<br />

<p style="text-align:center">We're processing your order now. You will receive an email confirmation shortly.</p>

<p style="text-align:center">Please visit <a href="@Url.Action("Test","PurchaseHistory")">My Purchases</a> to retrieve the activation code.</p>

<h4 style="text-align:center">Thank You for choosing WhiteStar</h4>

<!-- change the value of the cart Counter -->
<script>
    let elem = document.getElementById("cartCounter");
    elem.innerHTML = 0;
</script>
