@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@section Css{
    <link href="~/css/purchaseHistory.css" rel="stylesheet" />
}

@*todo:
    - css: position
    - wait 4 dbteam?

*@

<div class="container">
    <!-- Section-->
    <section class="py-5">
        <div class="container">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @*product image & description*@
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product price-->
                                $40.00 - $80.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto download-btn" href="#">Download</a></div>
                        </div>
                    </div>
                </div>

                @*activation code*@
                <div class="col mb-5">
                    <select class="custom-select">
                        <option selected>Activation Code</option>
                        <option value="1">d99dh-af29hs-2h8fh</option>
                        <option value="2">vbvb2-a29jg-3jk98</option>
                    </select>
                </div>

                @*purchase info*@
                <div class="col mb-5">
                    Purchased On: 1st Jan 2020 <br />
                    Quantity: 2 <br />
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @*product image & description*@
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product price-->
                                $40.00 - $80.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto download-btn" href="#">Download</a></div>
                        </div>
                    </div>
                </div>

                @*activation code*@
                <div class="col mb-5">
                    <select class="custom-select">
                        <option selected>Activation Code</option>
                        <option value="1">d99dh-af29hs-2h8fh</option>
                        <option value="2">vbvb2-a29jg-3jk98</option>
                    </select>
                </div>

                @*purchase info*@
                <div class="col mb-5">
                    Purchased On: 1st Jan 2020 <br />
                    Quantity: 2 <br />
                </div>
            </div>
        </div>
    </section>
</div>